<mat-toolbar class="upperToolbar">

    <img src="AlamExchangeLogo.jpg" alt=" Alam Exchange Logo">

    <div class="inputSeciton">
        <input type="text" placeholder="Search..." [(ngModel)]="searchValue">
        <mat-icon>search</mat-icon>
    </div>

    <div class="logsin">
        <button mat-raised-button>Log In</button>
        <button mat-raised-button>Sign Up</button>
    </div>

</mat-toolbar>

<mat-toolbar class="lowerToolbar">
    <span>Home</span>
    <span>Products</span>
    <span>Services</span>
    <span>About us</span>
    <span>Contact us</span>
</mat-toolbar>
<a href="https://api.whatsapp.com/send?phone=918986148921&text=Hi%20sir!%20%0AI%20came%20from%20your%20WEBSITE">
    <img src="whatsapp-logo.png" alt="whatsapp-logo.png" class="whatsapp">
</a>